version: "3.9"


services:
  api:
    build: .
    container_name: api
    volumes:
      - .:/app
    ports:
    - "8080:8080"
    env_file:
    - .env
    depends_on:
    - db

  db:
    image: postgres:16
    container_name: api_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB}
    ports:
    - "5432:5432"
    volumes:
    - ./migrations:/docker-entrypoint-initdb.d/
    - pgdata:/var/lib/postgresql/data


volumes:
  pgdata: